<div class="mx-5 md:mx-8 md:mt-7 mt-5">
    <h2 class="ml-2 fw-bolder text-center">Daftar Perusahaan</h2>
    <p class="text-center text-md">
        Berikut adalah perusahaan yang terdaftar pada aplikasi Salary Sync
    </p>

    <div class="button-content flex justify-content-end mb-3 mt-5">
        <a routerLink="/companies/new">
            <p-button styleClass="bg-color-primary">
                + Tambah Perusahaan
            </p-button>
        </a>
    </div>
    <div class="shadow-3 p-5 mb-5">
        <p-table [value]="companies">
            <ng-template pTemplate="header">
                <tr>
                    <th>No.</th>
                    <th>Nama Perusahaan</th>
                    <th>Tanggal Payroll</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-company let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ company.companyName }}</td>
                    <td>{{ company.payrollDate }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>