<p-menubar [model]="navlinks" styleClass="bg-color-primary p-3 sticky top-0 z-5" class="text-white">
    <ng-template pTemplate="item" let-item>
        <ng-container>
            <a [routerLink]="item.route" class="no-underline md:text-white text-black-alpha-90 mx-4">
                <span>{{item.label}}</span>
            </a> 
        </ng-container>
        <ng-container *ngIf="item.image">
            <img [src]="item.image" [routerLink]="item.route" alt="{{ item.label }} image" class="nav-icon mr-5 hidden">
        </ng-container>
    </ng-template>
    <ng-template pTemplate="end">
        <ng-container>
            <img src="assets/images/icon/message.svg" routerLink="/messages" class="nav-icon mr-5">
            <img src="assets/images/icon/notification.svg" routerLink="/notifications" class="nav-icon mr-5">
            <img src="assets/images/icon/user.svg" routerLink="/users" class="nav-icon mr-7">
        </ng-container>
    </ng-template>
</p-menubar>
<router-outlet></router-outlet>