<p-menubar [model]="navlinks" styleClass="bg-color-primary p-3 sticky top-0 z-5" class="text-white">
    <ng-template pTemplate="item" let-item>
        <ng-container>
            <div class="mx-4 my-2">
                <a [routerLink]="item.route" class="no-underline md:text-white text-black-alpha-90" *ngIf="isAdmin">
                    <span>{{item.label}}</span>
                </a> 
            </div>
        </ng-container>
        <ng-container *ngIf="item.image">
            <img [src]="item.image" [routerLink]="item.route" alt="{{ item.label }} image" class="nav-icon ml-7 mr-5 hidden lg:inline">
        </ng-container>
    </ng-template>
    <ng-template pTemplate="end">
        <ng-container>
            <img src="assets/images/icon/message.svg" (click)="sidebarVisible = true" class="nav-icon mr-5" *ngIf="!isAdmin">
            <img src="assets/images/icon/notification.svg" (click)="notif.toggle($event)" class="nav-icon mr-5" *ngIf="!isAdmin">
            <img src="assets/images/icon/user.svg" (click)="profile.toggle($event)" class="nav-icon md:mr-7 mr-3">
        </ng-container>
    </ng-template>
</p-menubar>

<p-sidebar [(visible)]="sidebarVisible" id="sidebar" position="right" styleClass="w-30rem">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            <h3 class="font-bold text-color-primary" *ngIf="!chatDetailVisible">
                Semua Pesan
            </h3>
            <div class="inline-flex cursor-pointer" *ngIf="chatDetailVisible">
                <h3 class="font-bold text-color-primary">
                    <svg (click)="closeChat()" class="cursor-pointer pt-2 mr-3" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M16.88 2.88a1.25 1.25 0 0 0-1.77 0L6.7 11.29a.996.996 0 0 0 0 1.41l8.41 8.41c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.54 12l7.35-7.35c.48-.49.48-1.28-.01-1.77"/></svg> {{pickedClient.company}}
                </h3>
            </div>
        </div>
    </ng-template>
    <div class="chat-list px-4" *ngIf="!chatDetailVisible">
        <div class="border-b mt-3 cursor-pointer" *ngFor="let client of clients;" (click)="openChat(client)">
            <b *ngIf="isPS">{{client.company}}</b>
            <p>{{client.name}}</p>
        </div>
    </div>
    <div class="chat-detail" *ngIf="chatDetailVisible">
        <div class="chat px-4">
            <div *ngFor="let message of received">
                <div class="sender-bubble p-3 m-2" *ngIf="message.userName === loginData?.id ">
                    <p class="m-0">{{message.message}}</p>
                    <p class="text-xs">{{message.createdAt}}</p>
                </div>
                <div class="my-bubble ml-auto p-3 m-2" *ngIf="message.userName !== loginData?.id ">
                    <p class="m-0">{{message.message}}</p>
                    <p class="text-xs">{{message.createdAt}}</p>
                </div>
            </div>
        </div>
        <div class="sticky z-5 w-full bottom-0 p-3 pb-2 bg-white custom-small-shadow">
            <form [formGroup]="chat" (submit)="sendMessage()">
                <div class="grid">
                    <div class="col-10">
                        <textarea pInputTextarea rows="2" class="p-2 w-full bg-gray-100 border-gray-300 border-round-md" formControlName="message"></textarea>
                    </div>
                    <div class="col-2">
                        <p-button styleClass="bg-color-primary" (onClick)="sendMessage()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" class="p-0 m-0" viewBox="0 0 28 28"><path fill="#ffffff" d="M3.79 2.625c-.963-.46-2.021.42-1.746 1.451l2.016 7.533a1 1 0 0 0 .824.732l9.884 1.412c.286.04.286.454 0 .495l-9.883 1.411a1 1 0 0 0-.824.732l-2.017 7.537c-.275 1.03.783 1.91 1.746 1.451L25.288 15.13c.949-.452.949-1.804 0-2.257z"/></svg>
                        </p-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-sidebar>

<p-overlayPanel #notif styleClass="w-20rem">
    <div class="border-b mt-3 cursor-pointer" *ngFor="let notif of notification">
        <p class="text-sm font-semibold mb-1">12:00PM</p>
        <p class="mt-0 text-sm">{{notif.notificationContent}}</p>
    </div>
    <p class="text-center font-bold text-color-primary text-sm no-underline pt-2 mt-2 mb-0 cursor-pointer" routerLink="/notification">
        Lihat Semua Notifikasi
    </p>
</p-overlayPanel>

<p-overlayPanel #profile styleClass="w-14rem">
    <div class="grid">
        <div class="col-12 p-1">
            <div class="inline-flex cursor-pointer" routerLink="/profile">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036c-.01-.003-.019 0-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2M8.5 9.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0m9.758 7.484A7.985 7.985 0 0 1 12 20a7.985 7.985 0 0 1-6.258-3.016C7.363 15.821 9.575 15 12 15s4.637.821 6.258 1.984"/></g></svg> 
                <span>
                    Profil
                </span> 
            </div>
        </div>
        <div class="col-12 p-1 pt-2">
            <div class="inline-flex cursor-pointer" routerLink="/change-password">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 15 15"><path fill="currentColor" d="M11 11h-1v-1h1zm-3 0h1v-1H8zm5 0h-1v-1h1z"/><path fill="currentColor" fill-rule="evenodd" d="M3 6V3.5a3.5 3.5 0 1 1 7 0V6h1.5A1.5 1.5 0 0 1 13 7.5v.55a2.5 2.5 0 0 1 0 4.9v.55a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 0 13.5v-6A1.5 1.5 0 0 1 1.5 6zm1-2.5a2.5 2.5 0 0 1 5 0V6H4zM8.5 9a1.5 1.5 0 1 0 0 3h4a1.5 1.5 0 0 0 0-3z" clip-rule="evenodd"/></svg> 
                <span>
                    Ganti Kata Sandi
                </span> 
            </div>
        </div>
        <div class="col-12 p-1 pt-2">
            <div class="inline-flex cursor-pointer" (click)="logout()">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M11.25 19a.75.75 0 0 1 .75-.75h6a.25.25 0 0 0 .25-.25V6a.25.25 0 0 0-.25-.25h-6a.75.75 0 0 1 0-1.5h6c.966 0 1.75.784 1.75 1.75v12A1.75 1.75 0 0 1 18 19.75h-6a.75.75 0 0 1-.75-.75"/><path fill="currentColor" d="M15.612 13.115a1 1 0 0 1-1 1H9.756c-.023.356-.052.71-.086 1.066l-.03.305a.718.718 0 0 1-1.025.578a16.844 16.844 0 0 1-4.885-3.539l-.03-.031a.721.721 0 0 1 0-.998l.03-.031a16.843 16.843 0 0 1 4.885-3.539a.718.718 0 0 1 1.025.578l.03.305c.034.355.063.71.086 1.066h4.856a1 1 0 0 1 1 1z"/></svg> 
                <span>
                    Keluar
                </span> 
            </div>
        </div>
    </div>
</p-overlayPanel>

<router-outlet></router-outlet>