<div class="mx-4 md:mx-8 mt-7">
    <div class="grid">
        <div class="md:col-6 col-12 flex justify-content-center align-items-center">
            <img src="./assets/images/password.svg" class="w-25rem" alt="changepass-image">
        </div>
        <div class="md:col-6 col-12 flex align-items-center">
            <div class="w-100">
                <h2 class="fw-bold mb-4 text-color-primary">
                    Ganti Password
                </h2>
                <form [formGroup]="userUpdateReqDtoFg" (ngSubmit)="onSubmit()" class="w-full">
                    <div class="mb-3">
                        <label for="old-password" class="form-label fw-semibold">Password Lama <span class="text-red-500">*</span> </label>
                        <input type="password" class="w-full mt-2" pInputText id="old-password" formControlName="oldPassword">
                    </div>
                    <div class="mb-3">
                        <label for="new-password" class="form-label fw-semibold">Password Baru <span class="text-red-500">*</span> </label>
                        <input type="password" class="w-full mt-2" pInputText id="new-password" formControlName="newPassword">
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label fw-semibold">Konfirmasi Password Baru <span class="text-red-500">*</span> </label>
                        <input type="password" class="w-full mt-2" pInputText id="confirm-password" formControlName="confirmPassword">
                    </div>
                    <div class="mt-5">
                        <p-button routerLink="/homepage" severity="secondary">Batal</p-button>
                        <p-button type="submit" styleClass="bg-color-primary ml-2">Simpan</p-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>