<div class="mx-5 md:mx-8 md:mt-7 mt-5">
    <div class="grid">
        <div class="md:col-6 col-12 flex justify-content-center align-items-center">
            <img src="./assets/images/password.svg" class="responsive-img" alt="changepass-image">
        </div>
        <div class="md:col-6 col-12 flex align-items-center">
            <div class="w-100">
                <h2 class="fw-bold mb-4 text-color-primary">
                    Ganti Password
                </h2>
                <form [formGroup]="userUpdateReqDtoFg" class="w-full">
                    <div class="mb-3">
                        <label for="old-password" class="form-label fw-semibold">Password Lama <span class="text-red-500">*</span> </label>
                        <input type="password" class="bg-gray-50 w-full mt-2" pInputText id="old-password" formControlName="oldPassword">
                    </div>
                    <div class="mb-3">
                        <label for="new-password" class="form-label fw-semibold">Password Baru <span class="text-red-500">*</span> </label>
                        <input type="password" class="bg-gray-50 w-full mt-2" pInputText id="new-password" formControlName="newPassword">
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label fw-semibold">Konfirmasi Password Baru <span class="text-red-500">*</span> </label>
                        <input type="password" class="bg-gray-50 w-full mt-2" pInputText id="confirm-password" formControlName="confirmPassword">
                    </div>
                    <div class="mt-5">
                        <p-button routerLink="/homepage" severity="secondary">Batal</p-button>
                        <p-button (click)="displayModal=true" styleClass="bg-color-primary ml-2">Simpan</p-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Konfirmasi ubah password!!" [(visible)]="displayModal" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '35vw' }" [draggable]="false"
    [resizable]="false">
    <p>
        Apakah anda yakin untuk mengubah password anda?
    </p>
    <div class="flex justify-content-end">
        <p-button label="Batal" severity="secondary" (click)="displayModal = false" />
        <p-button label="Ya" (click)="onSubmit()" styleClass="ml-2 bg-color-primary" />
    </div>
</p-dialog>