<div class="mx-4 md:mx-8 mt-7">
    <div class="grid">
        <div class="col-6">
            <div class="col-auto">
                <p-button routerLink="" class="rounded-3" styleClass="custom-small-shadow border-none bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="none" stroke="#012B30" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 7l-5 5l5 5"/></svg>
                </p-button>
            </div>
            <div class="col-auto ml-3">
                <b class="">
                    Nama Perusahaan
                </b>
                <p class="text-sm">Nama Klien</p>
            </div>
        </div>
        <div class="col-6">
            <p-button routerLink="/class/id" class="rounded-3" styleClass="custom-small-shadow border-none bg-color-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="none" stroke="#012B30" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 7l-5 5l5 5"/></svg>
            </p-button>
        </div>
    </div>
</div>