<div class="mx-4 md:mx-8 mt-7">
    <div class="shadow-3 border-round-xl h-24rem">
        <div class="grid">
            <div class="col-6 flex align-items-center">
                <div class="row pl-5">
                    <h1 class="font-medium">
                        Hai, <span class="font-bold"> {{loginData?.fullName}} </span>
                    </h1>
                    <p>
                        Selamat datang di Payroll System
                    </p>
                    <p-button *ngIf="isPS" routerLink="/clients" class="rounded-3" styleClass="bg-white text-black-alpha-90 custom-border">
                        Lihat Klien
                    </p-button>
                    <p-button *ngIf="isClient" routerLink="/clients" class="rounded-3" styleClass="bg-white text-black-alpha-90 custom-border">
                        Lihat Aktivitas
                    </p-button>
                </div>
            </div>
            <div class="col-6 p-0 m-0">
                <img src="./assets/images/payroll-home.svg" alt="payroll home image"
                    class="hero-img w-full border-round-right-xl">
            </div>
        </div>
    </div>
</div>