<div class="mx-4 md:mx-8 mt-7">
    <h2 class="ml-2 fw-bolder text-center">Daftar Pengguna</h2>
    <p class="text-center">
        Berikut adalah pengguna yang terdaftar pada aplikasi Salary Sync
    </p>

    <div class="button-content flex justify-content-end mb-3 mt-5">
        <a routerLink="/users/new">
            <p-button styleClass="bg-color-primary">
                + Tambah Pengguna
            </p-button>
        </a>
    </div>
    <p-table 
        [value]="users"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' , 'margin-bottom': '2rem'}"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>No.</th>
                <th>Nama</th>
                <th>Email</th>
                <th>Perusahaan</th>
                <th>Role</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-i="rowIndex">
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.companyName }}</td>
                <td>{{ user.roleName }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="card flex justify-content-center">
    <p-toast />
</div>