<div class="mx-4 md:mx-8 md:mt-7 mt-5">
    <h1 class="text-center title-text">
        Daftar Klien
    </h1>
    
    <div class="grid mt-7">
        <div *ngFor="let client of clients; let i=index"  class="col-12 md:col-4 flex justify-content-center cursor-pointer">
            <div class="shadow-3 w-full text-center" routerLink="/clients/{{client.id}}" >
                <img [src]="companyLogos[i]" alt="Company-Logo" class="w-7rem h-7rem mt-3" />
                <h4>{{ client.company }}</h4>
                <p>{{ client.name }}</p>
            </div>
        </div>
    </div>
</div>