<div class="mx-4 md:mx-8 mt-7">

    <h1 class="text-center">
        Daftar Klien
    </h1>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

    <div class="grid mt-7">
        <div class="col-12 md:col-4 flex justify-content-center cursor-pointer" routerLink="/clients/id">
            <div class="shadow-3 w-full text-center">
                <img src="./assets/images/logo-1.svg" alt="Company-Logo" class="w-7rem" />
                <h4>Nama Perusahaan</h4>
                <p>Nama Klien</p>
            </div>
        </div>

        <div class="col-12 md:col-4 flex justify-content-center cursor-pointer" routerLink="/clients/id">
            <div class="shadow-3 w-full text-center">
                <img src="./assets/images/logo-2.svg" alt="Company-Logo" class="w-7rem" />
                <h4>Nama Perusahaan</h4>
                <p>Nama Klien</p>
            </div>
        </div>

        <div class="col-12 md:col-4 flex justify-content-center cursor-pointer" routerLink="/clients/id">
            <div class="shadow-3 w-full text-center">
                <img src="./assets/images/logo-3.svg" alt="Company-Logo" class="w-7rem" />
                <h4>Nama Perusahaan</h4>
                <p>Nama Klien</p>
            </div>
        </div>
    </div>
</div>