<div class="mx-5 md:mx-8 md:my-7 my-5">
    <h2 class="ml-2 fw-bolder text-center">Daftar Penugasan</h2>
    <p class="text-center">
        Berikut adalah daftar penugasan klien dan payroll service.
    </p>

    <div class="mt-5 mb-3 mr-1 grid justify-content-end">
        <p-button label="Buat Penugasan" styleClass="bg-color-primary" (click)="displayModal = true"></p-button>
    </div>
    <div class="grid justify-content-start" *ngIf="assignments.length > 0">
        <div class="md:col-4 col-12" *ngFor="let assignment of assignments; let i = index">
            <div class="shadow-3 bg-white p-3" [ngClass]="{'md:h-19rem h-fit': assignment.clients.length === 0, 'h-19rem': assignment.clients.length > 0}">
                <p class="font-bold text-center">{{ assignment.psName }}</p>
                <p *ngIf="assignment.clients.length === 0" class="mt-4 text-center text-black-alpha-90">
                    Belum ada klien yang ditugaskan.
                </p>
                <div *ngIf="assignment.clients.length > 0" class="mt-4 p-2 h-14rem overflow-auto">
                    <div *ngFor="let client of assignment.clients; let j = index" class="mb-2">
                        <div class="w-full border-color-primary border-round-xl inline-flex align-items-center p-2">
                            <img [src]="companyLogos[i][j]" alt="company-logo" class="assignment-img" />
                            <p class="ml-2 text-xs">
                                {{ client.companyName }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="grid justify-content-center align-items-center" *ngIf="assignments.length === 0">
        <img src="assets/images/no-data.gif" width="30%" alt="">
    </div>
</div>

<p-dialog header="Penugasan" [(visible)]="displayModal" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '35vw' }" [draggable]="false"
    [resizable]="false">
    <div class="w-full">
        <form [formGroup]="clientAssignmentReqDtoFormGroup">
            <div class="mb-3">
                <div class="mb-2">
                    <label for="ps" class="form-label fw-semibold">Payroll Service<span
                            class="text-red-500">*</span></label>
                </div>
                <div>
                    <p-dropdown styleClass="w-full" appendTo="body" [options]="payrollServices" optionValue="id"
                        optionLabel="fullName" id="ps" formControlName="psId" />
                </div>
            </div>
            <div class="mb-4">
                <div class="mb-2">
                    <label for="client" class="form-label fw-semibold">Klien<span class="text-red-500">*</span></label>
                </div>
                <div>
                    <p-dropdown styleClass="w-full" appendTo="body" [options]="clients" optionValue="id"
                        optionLabel="clientName" id="client" formControlName="clientId">
                        <ng-template let-client pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ client.clientName }}</div>
                                <p-badge *ngIf="client.psName" [value]="client.psName" />
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="flex justify-content-end">
                <p-button (click)="displayModal=false" severity="secondary" styleClass="mr-2">Batal</p-button>
                <p-button [disabled]="clientAssignmentReqDtoFormGroup.invalid"
                    (click)="confirmationModal=true; displayModal=false" styleClass="bg-color-primary">Simpan</p-button>
            </div>
        </form>
    </div>
</p-dialog>

<p-dialog header="Konfirmasi" [(visible)]="confirmationModal" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '35vw' }" [draggable]="false"
    closable="false" [resizable]="false">
    <p class="m-0">
        Apakah anda yakin ingin membuat penugasan ini?
    </p>
    <div class="grid justify-content-end mt-5">
        <p-button label="Batal" severity="secondary" (click)="confirmationModal = false; displayModal = true" />
        <p-button label="Ya" styleClass="ml-2 bg-color-primary" (click)="onSubmit()" />
    </div>
</p-dialog>