@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
    padding: 0;
    margin: 0;
}

.bg-login {
    background-image: url(./assets/images/login-img.svg);
    object-fit: cover;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.bg-none {
    background: none;
}

.bg-color-primary {
    background-color: #012B30;
}

.text-color-primary {
    color: #012B30;
}

.nav-icon {
    width: 1.5rem;
}

.hero-img {
    height: 24rem;
    object-fit: cover;
}

.p-menuitem-content:hover {
    background-color: transparent !important;
}

.custom-shadow {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}

.custom-small-shadow {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.15);
}

textarea:focus-visible {
    outline: none;
}

.h-40rem {
    height: 40rem;
}

.w-40rem {
    width: 40rem;
}

.border-b {
    border-bottom: 0.5px solid rgb(203, 203, 203);
}

.sender-bubble {
    background-color: #f1f1f1;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    max-width: 70%;
}

.my-bubble {
    background-color: #012B30;
    color: white;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    max-width: 70%;
}

.p-sidebar .p-sidebar-content {
    padding: 0;
}

.custom-border {
    border: 1px solid #012B30;
}

.payroll-event {
    background-color: #ff9999 !important;
    border-color: #ff0000 !important;
    color: #fff !important;
}

.payroll-detail-event {
    background-color: #99ccff !important;
    border-color: #3399ff !important;
    color: #fff !important;
}