@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
    padding: 0;
    margin: 0;
}

.bg-login {
    background-image: url(./assets/images/login-img.svg);
    object-fit: cover;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.responsiv-bg {
    background-image: none;
    background-color: white;
    height: 100vh;
}

.custom-flex {
    display: grid;
    align-items: center;
}

.bg-color-primary {
    background-color: #0E8DC4;
}

.text-color-primary {
    color: #0E8DC4;
}

.title-text {
    font-size: 32px;
}

.nav-icon {
    width: 1.5rem;
}

.hero-img {
    height: 24rem;
    object-fit: cover;
}

.p-menuitem-content:hover {
    background-color: transparent !important;
    border: none !important;
}

.p-menuitem-content:focus-visible {
    background-color: transparent !important;
    border: none !important;
}

.custom-shadow {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}

.custom-small-shadow {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.15);
}

textarea:focus-visible {
    outline: none;
}

.h-40rem {
    height: 40rem;
}

.w-40rem {
    width: 40rem;
}

.border-b {
    border-bottom: 0.5px solid rgb(203, 203, 203);
}

.sender-bubble {
    background-color: #f1f1f1;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    max-width: 70%;
}

.my-bubble {
    background-color: #0E8DC4;
    color: white;
    border-radius: 0.5rem 0.5rem 0 0.5rem;
    max-width: 70%;
}

.p-sidebar .p-sidebar-content {
    padding: 0;
}

.custom-border {
    border: 1px solid #0E8DC4;
}

.payroll-event {
    background-color: #0E8DC4;
    border-color: #0E8DC4;
    color: #fff;
}

.payroll-detail-event {
    background-color: #D6823C;
    border-color: #D6823C;
    color: black;   
}

.responsive-file-upload {
    width: 80%;
    border: none !important;
}

.p-fileupload .p-fileupload-buttonbar .p-button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.responsive-img {
    width: 24rem;
}

.p-inputtext {
    background-color: #f6f6f6;
}

.p-dropdown {
    background-color: #f6f6f6;
}

.assignment-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.border-color-primary {
    border: 1px solid #0E8DC4;
}

@media screen and (max-width: 767px) {
    .responsiv-bg {
        background-image: url(./assets/images/login-img.svg);
        object-fit: cover;
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
    }

    .fc-toolbar-title {
        font-size: 20px !important;
    }

    .title-text {
        font-size: 24px;
    }

    .responsive-file-upload {
        width: 100%;
    }

    .responsive-img {
        width: 100%;
        height: auto;
    }
}